ConsultarMorasService/ConsultaMorasService/src/META-INF/ConsultarMorasModelBeanService_schema1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema version="1.0" targetNamespace="http://modelopersistencia.sesion.consultarmoras.bancodebogota.com/" xmlns:tns="http://modelopersistencia.sesion.consultarmoras.bancodebogota.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:element name="consultarMoras" type="tns:consultarMoras"/>
  <xs:element name="consultarMorasResponse" type="tns:consultarMorasResponse"/>
  <xs:complexType name="consultarMoras">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarMorasResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:respuestaConsultaMoras" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respuestaConsultaMoras">
    <xs:sequence>
      <xs:element name="respuestaCod" type="xs:int"/>
      <xs:element name="respuestaDat" type="xs:string" minOccurs="0"/>
      <xs:element name="respuestaMsj" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>